.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*BODY*/
body{
  font-family: 'Public Sans', sans-serif;
  background-color: white;
  color:#828282
}

h1 h2 {
  color: #7DCFEC
} 
h3 h4 h5{
  color: #828282
}

.btn{
  background-color:#7DCFEC;
  border-radius: 12px;
  color: white
}
.btn:hover{
color: black
}




/*HEADER*/
.menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 5%;
}

.menu li{
  list-style: none;
  float: left;
}
.bannnerH{
  height: 20vh;
  width: 100%;
  background-color:#828282;
 
}
.op{
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.op .searchJ {
  background-image:url("https://media.giphy.com/media/iGupaoazjYWEFJYz1O/source.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
  width: 40%;
  height: 100%;
}
.op p {
  background-color: blanchedalmond;
}
.op .offerJ{

    background-image:url("https://media.giphy.com/media/iGupaoazjYWEFJYz1O/source.gif");
    transform: scaleX(-1);   
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    width: 40%;
    height: 100%;
  
}
.rotate{
  transform: scaleX(-1);   
}

/*FOOTER*/
footer{
  position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

.mainFooter{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 5%;
    background-color: #F2F2F2;
    }


.mainFooter p{
color: black
}

.mainFooter i{
  color: #C8C8C8
}
.mainFooter i:hover{
  color:#7DCFEC
}