.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*BODY*/
body{
  font-family: 'Public Sans', sans-serif;
  background-color: white;
  color:#828282
}

h1 h2 {
  color: #7DCFEC
} 
h3 h4 h5{
  color: #828282
}

.btn{
  background-color:#7DCFEC;
  border-radius: 12px;
  color: white
}
.btn:hover{
color: black
}




/*HEADER*/
.menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 5%;
}

.menu li{
  list-style: none;
  float: left;
}
.bannnerH{
  height: 20vh;
  width: 100%;
  background-color:#828282;
 
}
.op{
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.op .searchJ {
  background-image:url("https://media.giphy.com/media/iGupaoazjYWEFJYz1O/source.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
  width: 400px;
  height: 200px;
}
.op p {
  background-color: blanchedalmond;
}
.op .offerJ{

    background-image:url("https://media.giphy.com/media/iGupaoazjYWEFJYz1O/source.gif");
    transform: scaleX(-1);   
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    width: 400px;
    height: 200px;
}
.rotate{
  transform: scaleX(-1);   
}

/*MAIN*/

.home{
  height:100vh;
}
.description{
  background-color: cornflowerblue;
  margin: 10%
}
.desc1{
  
}

.homeIcon img{
  position: absolute;
  left: 0px;
  padding: 12px;
  width: 60px;
  background-color: cornsilk;
  border-radius: 33px;
}
.homeIcon img:hover{
 background-color:burlywood
}
.home main{
  color:white;
  background-color:#282c34;
}
.home h2{
padding-top: 10%;
}
.main{
    display: flex;
    flex-flow: column;
    
}
/*FOOTER*/
div.stikcy{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
 }
footer{
  
  width: 100%;
}

.mainFooter{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 5%;
    background-color: #F2F2F2;
    }


.mainFooter p{
color: black
}

.mainFooter i{
  color: #C8C8C8
}
.mainFooter i:hover{
  color:#7DCFEC
}

.addJob{
  
}
/*SIGNUP*/
.signup{
  background-color: cadetblue;
  display: flex;
  flex-flow: column;
  width: 100%;
}
.signup  .header{
background-color: #282c34;    
color: white;
height: 10vh;
}

.mainSignup{
  display: flex;
  flex-flow: row;
  padding: 20px;
  height: 100vh;
  color:white;
}

.infosign{
  width:48%
}
.infosign ul{
  margin-top:5%;
  padding: 10%;
list-style: none;
background-color:#282c34;
border-radius: 33px;
text-align: left;
}
.mainSignup img{
  
  margin: 10%;
  width: 70%;
  border-radius: 20px;

}

.signupForm{
  
display: flex;
flex-flow: column;
text-align: center;
width: 48%;
padding-top:10%;
font-size: larger;

}
label{margin-right: 20px;
  width:30%
}
input{
  width: 300px;
 border-radius: 20px;
}
/*Login*/
.login{
  background-color:#282c34;
height: 100vh;
color: white;
}
/*JOBS*/
.jobsList{
  background-color: #282c34;
  color: white;
  height: 100vh;

}
.joblistcont{
  background-color: white;
  float:left;
  color: #282c34;
  width:300px;
  height: 300px;
  margin: 3%;
  border-radius: 16%;
  float: left;
}

/*oneJob*/
.oneJob{
  background-color:#282c34;
  display: flex;
  flex-direction: row;
  color: white;
  height: 100vh;
  justify-content: center; 
  align-items: center;
}
.imageJob{
  width: 50%;
}
.descriptionJob{
  background-color: white;
  color:#282c34;
  display:flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  margin: 3%;
  padding: 5%;
  border-radius: 20px;
}